:root {
	--body-color: #F5F5F5;
	--text-color: #666666;
	--title-color: #42446E;
	--projects-background-color: #fff;
	--projects-title-color: #000;
	--projects-text-color: #666666;
	--projects-text-tech-color: #42446e;
	--link-text-color: #000;
	--info-text-color: #42446E;
	--footer-text-color: #42446E;
	--line-color: #d3d3d3;
}