* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background: #F5F5F5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #FFFFFF;
}

.wrapper {
	/* max-width: 1182px;
	margin: 0 auto; */

	max-width: 1210px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.btn {}

/* ========== HEADER ========== */
.navigation {
	font-family: "DM Sans", sans-serif;
	font-weight: 500;
	margin: 40px 0 0 0;
}

.nav-list,
.nav-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
}

.social-net-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

.list-item-link {
	color: #666666;
}

.hamburger {
	display: none;
	cursor: pointer;
}

.bar {
	display: block;
	width: 25px;
	height: 4px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: #000000;
}

/* ========== HEADER ========== */

/* ========== MAIN ========== */

/* ========== HERO ========== */
.hero-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 200px 0 0 0;
}

.hero-title {
	font-weight: 700;
	font-size: 58px;
	line-height: 121%;
	letter-spacing: -0.02em;
	color: #42446E;
	width: 635px;
}

.hero-title-gradient {
	background: linear-gradient(90deg, #13b0f5 2.6%, #e70faa 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero-me {
	display: inline-block;
	border: 10px solid transparent;
	background: linear-gradient(360deg, #13b0f5 2.6%, #e70faa 100%) border-box;
	border-radius: 230px;
}


/* ========== HERO ========== */

/* ========== MAIN ========== */

/* PC */
@media (max-width: 1210px) {
	.wrapper {
		max-width: 769px;
	}

	.header-logo {
		margin: 0 63px 0 0;
	}

	.nav-list,
	.nav-menu {
		gap: 30px;
	}

	.hero-list {
		flex-direction: column-reverse;
		text-align: center;
		margin: 150px 0 0 0;
	}

	.hero-img {
		margin: 0 0 50px 0;
	}
}

/* TABLET */
@media (max-width: 768px) {
	.wrapper {
		max-width: 481px;
	}

	.hamburger {
		display: block;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(11px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-7px) rotate(-45deg);
	}

	.nav-list {
		justify-content: space-between;
	}

	.nav-menu {
		position: fixed;
		left: -100%;
		top: 70px;
		gap: 0;
		flex-direction: column;
		background-color: #262626;
		width: 100%;
		text-align: center;
		transition: 0.3s;
		margin-top: 40px;
		padding: 20px 0;
	}

	.nav-menu-item {
		margin: 15px 0;
	}

	.nav-menu.active,
	.social-net-list.active {
		left: 0;
	}

	.hero-title {
		max-width: 481px;
		font-size: 46px;
	}
}

/* MOBILE */
@media (max-width: 480px) {
	.wrapper {
		max-width: 321px;
	}

	.nav-list,
	.nav-menu {
		gap: 0;
	}

	.hero-title {

		max-width: 321px;
		font-size: 28px;
	}

	.hero-me {
		width: 300px;
		height: 300px;
	}
}

/* MINI MOBILE */
@media (max-width: 320px) {
	.wrapper {
		max-width: auto;
	}
}