* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background: var(--body-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--title-color);
}

hr {
	height: 2px;
	border: none;
	background-color: var(--line-color);
}

.wrapper {
	max-width: 1210px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.btn {}

/* ========== HEADER ========== */
.navigation {
	font-family: "DM Sans", sans-serif;
	font-weight: 500;
	margin: 40px 0 0 0;
}

.nav-list,
.nav-menu {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
}

.social-net-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

.list-item-link {
	color: var(--text-color);
}

.hamburger {
	display: none;
	cursor: pointer;
}

.bar {
	display: block;
	width: 25px;
	height: 4px;
	margin: 5px auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: var(--bar-color);
}

/* ========== HEADER ========== */

/* ========== MAIN ========== */

/* ========== HERO ========== */
.hero-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 200px 0 200px 0;
}

.hero-title {
	font-weight: 700;
	font-size: 58px;
	line-height: 121%;
	letter-spacing: -0.02em;
	width: 635px;
}

.hero-title-gradient {
	background: linear-gradient(90deg, #13b0f5 2.6%, #e70faa 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero-me {
	display: inline-block;
	border: 10px solid transparent;
	background: linear-gradient(360deg, #13b0f5 2.6%, #e70faa 100%) border-box;
	border-radius: 230px;
}

/* ========== HERO ========== */

/* ========== MY TECH STACK ========== */
.my-tech-stack-title {
	font-weight: 700;
	font-size: 48px;
	text-align: center;
}

.my-tech-stack-text {
	font-weight: 400;
	font-size: 32px;
	text-align: center;
	color: var(--text-color);
	margin: 50px 0 140px 0;
}

.swiper-wrapper,
.swiper-slide,
.swiper-button-next,
.swiper-button-prev {
	display: none;
}

.tech-stack-list {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	gap: 90px;
	margin: 0 0 215px 0;
}

.tech-stack-item {
	display: block;
	width: 120px;
}

/* ========== MY TECH STACK ========== */

/* ========== PROJECTS ========== */
.projects-list {
	display: flex;
	justify-content: space-between;
}

.projects-title {
	font-weight: 700;
	font-size: 48px;
	text-align: center;
}

.projects-text {
	font-weight: 400;
	font-size: 32px;
	text-align: center;
	color: var(--text-color);
	margin: 50px 0 100px 0;
}

.projects-list-item {
	border-radius: 20px;
	width: 375px;
	height: 567px;
	box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.2);
	background: var(--projects-background-color);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.projects-list-item:hover {
	transition: 0.5s;
	box-shadow: 2px 2px 100px 0 #13b0f5;
}


.projects-list-item-wrapper {
	margin: 0 30px 0 30px;
}

.projects-item-img {
	border-radius: 20px 20px 0 0;
}

.projects-item-title {
	font-weight: 500;
	font-size: 28px;
	color: var(--projects-title-color);
	margin: 10px 0 0 0;
}

.projects-item-text {
	font-weight: 300;
	font-size: 18px;
	color: var(--projects-text-color);
	margin: 15px 0 12px 0;
}

.projects-item-tech-stack {
	font-weight: 400;
	font-size: 16px;
	color: var(--projects-text-tech-color);
}

.projects-item-tech-stack span {
	font-weight: 300;
	font-size: 14px;
}

.projects-item-links-list,
.projects-item-links {
	display: flex;
}

.projects-item-links-list {
	justify-content: space-between;
	margin: 20px 0 0 0;
}

.projects-item-links {
	align-items: center;
	gap: 10px;
}

.link-text {
	font-weight: 400;
	font-size: 16px;
	text-decoration: underline;
	text-decoration-skip-ink: none;
	color: var(--link-text-color);
}

/* ========== PROJECTS ========== */

/* ========== INFO ========== */
.info-list {
	display: flex;
	margin: 200px 0 40px 0;
	align-items: center;
	justify-content: space-between;
}

.info-list li.info-list-logo {
	margin: 0 500px 0 0;
}

.info-link {
	font-family: "DM Sans", sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: var(--info-text-color);
}

/* ========== INFO ========== */

/* ========== MAIN ========== */

/* ========== FOOTER ========== */
.footer-menu-list {
	display: flex;
	margin: 60px 0;
	gap: 55px;
}

.footer-menu-link {
	color: var(--footer-text-color);
}

/* ========== FOOTER ========== */

/* PC */
@media (max-width: 1210px) {
	.wrapper {
		max-width: 769px;
	}

	.header-logo {
		margin: 0 63px 0 0;
	}

	.nav-list,
	.nav-menu {
		gap: 30px;
	}

	.hero-list {
		flex-direction: column-reverse;
		text-align: center;
		margin: 150px 0 150px 0;
	}

	.hero-img {
		margin: 0 0 50px 0;
	}

	.projects-list {
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		gap: 90px;
	}

	.projects-list-item {
		width: 325px;
	}

	.projects-item-img {
		width: 325px;
	}

	.projects-item-title {
		font-size: 20px;
	}

	.projects-item-text {
		font-size: 16px;
	}

	.projects-item-tech-stack {
		font-size: 14px;
	}

	.projects-item-tech-stack span {
		font-size: 10px;
	}

	.link-text {
		font-size: 14px;
	}

	.info-list li.info-list-logo {
		margin: 0;
	}

	.footer-menu-list {
		justify-content: center;
	}
}

/* TABLET */
@media (max-width: 768px) {
	.wrapper {
		max-width: 481px;
	}

	.hamburger {
		display: block;
	}

	.hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}

	.hamburger.active .bar:nth-child(1) {
		transform: translateY(11px) rotate(45deg);
	}

	.hamburger.active .bar:nth-child(3) {
		transform: translateY(-7px) rotate(-45deg);
	}

	.nav-list {
		justify-content: space-between;
	}

	.nav-menu {
		position: fixed;
		left: -100%;
		top: 70px;
		gap: 0;
		flex-direction: column;
		background-color: #262626;
		width: 100%;
		text-align: center;
		transition: 0.3s;
		margin-top: 40px;
		padding: 20px 0;
	}

	.nav-menu-item {
		margin: 15px 0;
	}

	.nav-menu.active,
	.social-net-list.active {
		left: 0;
	}

	.hero-title,
	.my-tech-stack-title {
		max-width: 481px;
		font-size: 46px;
	}

	.my-tech-stack-text {
		font-size: 20px;
		margin-bottom: 100px;
	}

	.tech-stack-logo {
		width: 100px;
		height: 100px;
	}

	.tech-stack-list {
		flex-wrap: nowrap;
		gap: 0px;
	}

	.swiper {
		width: 350px;
		height: 100px;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.swiper-slide {
		background-position: center;
		background-size: cover;
		width: 120px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.swiper-slide img {
		display: block;
		width: 120px;
		height: 120px;
	}

	.swiper-3d .swiper-slide-shadow-left {
		background-image: none;
	}

	.swiper-3d .swiper-slide-shadow-right {
		background-image: none;
	}

	.projects-title {
		margin-top: 100px;
	}

	.projects-list {
		justify-content: center;
	}

	.info-list {
		flex-direction: column;
		/* align-items: normal; */
		gap: 20px;
	}

	.info-list li.info-list-logo {
		align-items: center;
	}

	.footer-menu-item {
		font-size: 14px;
	}
}

/* MOBILE */
@media (max-width: 480px) {
	.wrapper {
		max-width: 321px;
	}

	.nav-list,
	.nav-menu {
		gap: 0;
	}

	.hero-title,
	.my-tech-stack-title {
		max-width: 321px;
		font-size: 28px;
	}

	.hero-me {
		width: 300px;
		height: 300px;
	}

	.my-tech-stack-text {
		font-size: 14px;
		margin-bottom: 50px;
	}

	.swiper {
		width: auto;
	}

	.swiper-slide img {
		width: 100px;
		height: 100px;
	}

	.projects-title {
		font-size: 28px;
	}

	.projects-text {
		font-size: 14px;
	}

	hr,
	.footer-menu-list {
		display: none;
	}

}

/* MINI MOBILE */
@media (max-width: 375px) {
	/* .project-list-item, */
	.projects-item-img {
		max-width: 100%;
	}

	.projects-item-links {
		margin-bottom: 20px;
	}

	.projects-list-item {
		height: auto;
	}
}

/* @media (max-width: 320px) {
	.wrapper {
		max-width: auto;
	}
} */